<div class="Menu">
    <ul class="Menu-list" data-offset="10">
      
      <li class="Menu-list-item" data-offset="16" onclick>
        Resume
        <span class="Mask"><span><a (click) = "goToResume()">Resume</a></span></span>
        <span class="Mask"><span><a (click) = "goToResume()">Resume</a></span></span>      </li>
      <li class="Menu-list-item" data-offset="12" onclick>
        Linkedin
        <span class="Mask"><span><a href="https://www.linkedin.com/in/bereket-kibret-8ba559172">Linkedin</a></span></span>
        <span class="Mask"><span><a href="https://www.linkedin.com/in/bereket-kibret-8ba559172">Linkedin</a></span></span>
      </li>
      <li class="Menu-list-item" data-offset="8" onclick>Github
        <span class="Mask"><span><a href="https://github.com/Bereketk100/">Github</a></span></span>
        <span class="Mask"><span><a href="https://github.com/Bereketk100/">Github</a></span></span>
  
      </li>
      <li class="Menu-list-item" data-offset="20" onclick>
        CONTACT
        <span class="Mask"><span><a (click) = "gotToContact()">CONTACT</a></span></span>
        <span class="Mask"><span><a (click) = "gotToContact()">CONTACT</a></span></span>
      </li>
    </ul>
  </div>
  
  <div class = "bitmoji">
    <img src="/assets/images/bkt.png">
  
  </div>
  
  
