<!-- <h2 [ngClass] ="firstObject"> Welcome {{name}} </h2>
<h2 [ngClass] ="firstObject"> Welcome {{name}}</h2>
<h2 [class.text_bool] = "firstObject"> Welcome {{name}}</h2>

<div class = "hello" > 
  <input #myinput type="text">
  <button (click) = "logMessage(myinput.value)">Login</button>
</div> -->


<div class = "navigationBar">
   <a href = "google.com"> <button class = "b">Home</button></a>
   <a href = "google.com"><button class = "b">Resume</button></a>
   <a href = "https://www.linkedin.com/in/bereket-kibret-8ba559172"><button class = "b">Linkedin</button></a>
   <a href = "https://github.com/Bereketk100/"><button class = "b">Github</button></a>
   <hr width="80%" size = "1" allign = "center" color = "white">
</div>

<div class = "bitmoji"> 
  
  <img src="/assets/images/bkt.png" alt="hi" class = "center">>
  <h1>Hi, my name is Bereket Kibret and I work in engineering at <img src = "/assets/images/microsoft.png" class = "microsoft"></h1>
</div>


<!-- <div class = "Introduction">
  <h1> Hi! I am {{name}} and I work in engineering at {{company}}  </h1>
  <h2>Guess My Age</h2>
  <input #ageguess type = "text">
  <button (click) = "checkTruth(ageguess.value)"> Check</button>
</div> -->